.Main.mx-n4.mt-n4.w-100 {
  h1 {
    margin-bottom: 10px;
    font-weight: 400;
  }
  p {
    width: 685px;
    color: $gray-600;
  }
}
.card {
  margin-top: -20px;
  .span {
    color: $gray-600;
    font-size: 13px;
    margin-top: 10px;
  }
}
